.ico{background-image: url(../images/ico_sprite-d5f5ac8172.png);background-size: 157.5px auto}
.ico_back{background-position: -58.5px 0px;width:34px;height:34px;}
.ico_cart{background-position: -95px 0px;width:34px;height:34px;}
.ico_dz{background-position: 0px -80px;width:26px;height:26px;}
.ico_dz_d{background-position: -131.5px -28.5px;width:26px;height:26px;}
.ico_fx{background-position: -57px -80px;width:26px;height:26px;}
.ico_fx_d{background-position: -28.5px -80px;width:26px;height:26px;}
.ico_home{background-position: -95px -36.5px;width:26px;height:26px;}
.ico_home_d{background-position: -131.5px -57px;width:26px;height:26px;}
.ico_infomore_h{background-position: 0px -108.5px;width:25px;height:25px;}
.ico_moreinfo{background-position: -36.5px -43.5px;width:34px;height:34px;}
.ico_my{background-position: -85.5px -80px;width:26px;height:26px;}
.ico_my_d{background-position: -131.5px 0px;width:26px;height:26px;}
.ico_search{background-position: 0px -43.5px;width:34px;height:34px;}
.ico_up{background-position: 0px 0px;width:56px;height:41px;}
.ico_xiaoxi{background-position: -27.5px -108.5px;width:24px;height:24px;}
.tipclose{background-position: -131.5px -85.5px;width:20px;height:20px;}
